services:

    app:
      build: . # 同じ階層にある Dockerfile を使う
      container_name: todo-api
      ports:
        - "8080:8080"
      environment:
        - DBHOST=db # DBコンテナのサービス名
        - TESTDBHOST=test_db
        - USERNAME=${USERNAME}
        - USERPASS=${USERPASS}
        - DATABASE=${DATABASE}
        - TESTDB=${TESTDB}
        - GOOGLECLIENTID=${GOOGLECLIENTID}
      depends_on:
       - db
       - test_db

    # 本番用データベース
    db:
        image: mysql:8.0
        container_name: todo-db

        environment:
            MYSQL_ROOT_USER: ${ROOTUSER}
            MYSQL_ROOT_PASSWORD: ${ROOTPASS}
            MYSQL_DATABASE: ${DATABASE}
            MYSQL_USER: ${USERNAME}
            MYSQL_PASSWORD: ${USERPASS}
            TZ: 'Asia/Tokyo'
        ports:
          - "3306:3306"

        volumes:
          - db-volume:/var/lib/mysql

    # テスト用データベース
    test_db:
        image: mysql:8.0
        container_name: todo-test-db

        environment:
            MYSQL_ROOT_USER: ${ROOTUSER}
            MYSQL_ROOT_PASSWORD: ${ROOTPASS}
            MYSQL_DATABASE: ${TESTDB}
            MYSQL_USER: ${USERNAME}
            MYSQL_PASSWORD: ${USERPASS}
            TZ: 'Asia/Tokyo'
        ports:
          - "3307:3306" # ポートを分けてコンテナの競合を防ぐ

        volumes:
          - test-db-volume:/var/lib/mysql

volumes:
  db-volume:
  test-db-volume: